/*цвет основного текста - заголовков #212121*/
/*цвет вторичного текста - параграфов и контактов #757575*/
/*цвет контактов в футере rgba(255, 255, 255, 0.6)*/
/*цвет-акцент - при ховере и цвет лого #2196F3 #000000*/
/*цвет фона основной #FFFFFF*/
/*цвет фона вторичный #F5F4FA*/
/*цвет фона футера #2F303A*/
/*цвет фона секции з заголовком h1 #2F303A*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acccent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
